body {
    font-family: nunito;
}
.main {
    margin-top: 84px;
}

.goodmargin {
    margin: 0px 5%;
}

.wid {
    width: 100%;
    min-height: 30px;
}

.cards {
    width: 100%;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

    .cards .card {
        height: 150px;
        padding: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 7px 25px 0 rgb(0,0,0,0.08);
    }

.icon-box1 i {
    font-size: 50px;
    position: static;
    background: #b81b7f12;
    padding: 10px;
}

.icon-box2 i {
    font-size: 50px;
    position: static;
    background-color: #36bd7812;
    padding: 10px;
}

.icon-box3 i {
    font-size: 50px;
    position: static;
    background-color: #efa80f12;
    padding: 10px;
}

.count {
    text-align: center;
    font-weight: 900;
}

.upmainrow {
    padding-top: 50px;
    margin: 0;
}

.main-indicate h6 {
    padding: 20px 10px;
}

.icon {
    border-left: 4px solid rgba(255, 255, 255, .3);
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #aaa;
    font-size: 14px;
    margin-right: 12px;
}

.subcontainer {
    background-color: #444444;
    padding: 12px 22px;
    margin: 0;
    line-height: 23px;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    float: right;
}

.suhome {
    color: white;
    padding-right: 6px;
}

    .suhome a {
        color: white;
        text-decoration: none;
    }

.icons {
    font-size: 20px;
}

    .icons a {
        padding-left: 15px;
    }

        .icons a i {
            color: grey;
        }

a i:hover {
    color: black;
}

.charts {
    width: calc(100%-250px);
    position: relative;
}

.chart {
    width: calc(100%-250px);
    position: relative;
}
.aff-prog-sec-div {
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.08);
    border: 1px solid #e0e0e0;
    padding:0px 0px 50px 0px;
}
.aff-inner-1{
    padding:20px 20px;
    border-bottom:1px solid #e0e0e0;
}
.aff-inner-2-para {
    margin: 20px 30px;
    background-color: #e9f7fe;
    color: #3184ae;
   
}
.aff-inner-2-para p{
    padding:20px 10px;
}
.aff-inner-3{
    margin:0px 30px;
}
.copy-textbox{
    margin-top:20px;
}
.copy-link{
    width:80%;
    outline:none;
    border:1px solid #e0e0e0;
    border-radius:5px;
    height:40px;
}
.copy-right-btn{
    background-color:#184698;
    border-style:none;
    border-radius:5px;
    color:#fff;
    padding:8px 10px;
}
.aff-prog-third-div {
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.08);
    border: 1px solid #e0e0e0;
    padding: 0px 0px 50px 0px;
}
.aff-third-in{
    padding:20px;
    border-bottom:1px solid #e0e0e0;
    margin:0px;
}
.celleid{
    width:auto;
    align-content:center;
    margin:0px;
}
table{
    margin:0px;
}
.tab-foot{
    text-align:center;
}
@media(max-width:1100px) {
    .cards {
        grid-template-columns: repeat(1,1fr);
    }

    #Table1 {
        width: auto;
    }

    #footmedia {
        display: flex;
        flex-direction: row;
    }

    #footcopy {
        text-align: center;
        border: none;
        margin: 0px;
        padding: 0px;
    }

    #footicon {
        text-align: center;
        margin: 0px;
        padding-bottom: 20px;
    }

    .container-foot {
        margin: 0px;
        padding: 0px;
    }
}

@media(max-width:1100px) {


    .cards {
        grid-template-columns: repeat(1,1fr);
    }

    .charts {
        grid-template-columns: 1fr;
    }


    .cards {
        grid-template-columns: repeat(1,1fr);
    }



    #Table1 {
        width: auto;
    }
}

@media(max-width:300px) {
    .charts {
        grid-template-columns: 1fr;
    }

    .cards {
        grid-template-columns: repeat(1,1fr);
    }

    #Table1 {
        width: auto;
    }

    #footmedia {
        display: flex;
        flex-direction: row;
    }

    .container-foot {
        margin: 0px;
        padding: 0px;
    }
}
@media(min-width:1100px) {
    .icons-2 {
        float: right;
    }
}
