body {
    font-family: nunito;
}
.icon {
    border-left: 4px solid rgba(255, 255, 255, .3);
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #aaa;
    font-size: 14px;
    margin-right: 12px;
}

.subcontainer {
    background-color: #444444;
    padding: 12px 22px;
    margin: 0;
    line-height: 23px;
    display: inline-block;
    border-radius: 5px;
}

.suhome {
    color: white;
    padding-right: 6px;
}

    .suhome a {
        color: white;
        text-decoration: none;
    }

.goodmargin {
    margin: 0px 5%;
    }

.subcontainer {
    float: right;
}
.main{
    margin-top:85px;
}
.doccount {
    background-color: #18469833;
    padding: 10px 10px;
    border-radius: 50px;
    align-content: center;
    font-size: 12px;
    display: inline-block;
}
.AI-chat-main-para {
    margin-top: 40px;
    align-content:center;
    background-color:#ffe9e9;
    padding: 20px 10px 5px 20px;
}
.AI-chat-para {
    color: #de5959;
}
.AI-chat-box{
    margin-top:50px;
    box-shadow:0px 5px 25px 10px rgba(0,0,0,0.08)
}
.AI-chat-bot-img {
    height: 40px;
    width: 40px;
    border-radius: 50vh;
}
.AI-chat-1st-div {
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}
.img-with-chat-bot {
    border-bottom: 1px solid #eaeaea;
    padding-bottom:20px;
}
.AI-chat-bot-right {
    float: right;
    padding: 5px;
}
.AI-chat_dwnbtn {
    background-color: #184698;
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.AI-chat_delbtn {
    background-color:#f80909;
    border-style: none;
    border-radius: 5px;
    padding:5px 10px;
}
#buffer {
    display: none;
    color:#fff;
}

.rotating {
    animation: rotate 1s infinite linear;
}

#buffer1 {
    display: none;
    color: #fff;
}

.rotating {
    animation: rotate 1s infinite linear;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.AI-chat-2nd-div {
    background-color: #fff;
}
.AI-chat-placeholder {
    height: 300px;
    width: 100%;
    background-color: #fff;
    overflow-y: scroll;
    
}

.AI-chat-input-holder {
    border-top: 1px solid rgba(0,0,0,0.08);
    padding: 20px 20px;
    background-color: #fff;
    width: 100%;
    display: block;
    
}
.AI-chat_iput-box {
    width:90%;
    padding: 5px;
    outline: none;
    border: none;
    background-color:#fff;
}
.AI-chat-send-btn{
    border-radius:5px;
    background-color:#184698;
    padding:5px 15px;
    color:#fff;
    border-style:none;
}
.user-chat-tex {
    float: right;
    width:100%;
    padding: 20px 0px;
}
.user-txt {
    min-height: 20px;
    padding: 10px;
    background-color: #184698;
    color: #fff;
    float: right;
    border-radius: 10px 0px 10px 10px;
    margin-right: 5px;
}
.user-txt p{
    margin:0px;
    padding:0px;
}
.user-img {
    float: right;
}
.user-inimg{
    height:40px;
    width:40px;
}
.bot-chat-tex{
    display:flex;
    width:100%;
}
.bot-inimg {
    height: 40px;
    width: 40px;
    border-radius: 40vh;
}
.bot-txt {
    min-height: 20px;
    padding: 10px;
    background-color: #184660;
    color: #fff;
    border-radius:0px 10px 10px 10px; 
    margin-left:5px;
}
    .bot-txt p {
        margin: 0px;
        padding: 0px;
    }

@media(min-width:1000px) {
    .icons-2{
        float:right;
    }
}