.container-fluid {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Nunito;
}

body {
    background: #f9f9f9;
    font-family: Nunito;
}

#langbtn {
    min-width: 35px;
    height: 50px;
    padding: 10px;
    background-color: #444;
    color: white;
    border-radius: 10px;
}

    #langbtn:hover {
        background-color: #184698;
    }

option {
    background-color: #ffff;
    color: black;
    line-height: 2.5em;
    font-size: 14px;
    height: 180%;
    font-family: Nunito;
}

.dropdown-menu ul li {
    padding-top: 4px;
}

.drp {
    display: block;
    color: #666;
    font-size: 16px;
    padding: 4px 4px;
    width: 100%;
}

.toogle i {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.use {
    position: relative;
    width: 55px;
    height: 55px;
}

    .use img {
        position: absolute;
        top: 0;
        left: 0;
        height: 40%;
        width: 40%;
        object-fit: cover;
    }

.topbar {
    position: fixed;
    background: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    width: 100%;
    height: 85px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 9fr 1fr 1fr;
    align-items: center;
    z-index: 1;
    font-family: Nunito;
}

.dropdown-menu a i {
    min-width: 10px;
    font-size: 15px;
    text-align: center;
}

.dropdown-menu li {
    list-style: none;
}

    .dropdown-menu li :hover {
        color: #184698;
    }

.Everify {
    padding: 10px;
    height: 70px;
    background-color: #fdf9e7;
    align-content: center;
    padding-left: 80px;
    position: page;
    font-family: Nunito;
    width: 100%;
}

.Everifybutton {
    background-color: #666;
    font-size: 16px;
    color: white;
    border-radius: 8px;
}
/* Top Bar Ends*/


/*<%--menu bar--%>*/
.bar {
    width: 300px;
    transition: margin-left .5s;
    padding: 16px;
}


.sidebar {
    font-family: Nunito;
    position: fixed;
    top: 85px;
    width: 250px;
    height: calc(100% - 85px);
    background: #fff;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px 1px rgb(0,0,0,0.4);
}

    .sidebar ul {
        margin-top: 20px;
        width: 100%;
    }

        .sidebar ul li {
            width: 100%;
            list-style: none;
            margin-left: -20px;
            margin-right: 0px;
            padding-top: 18px;
        }

            .sidebar ul li a {
                margin-left: -20px;
                margin-right: 0px;
                width: 100%;
                text-decoration: none;
                color: grey;
                height: 40px;
                display: flex;
                align-items: center;
                font-size: 16px;
            }

                .sidebar ul li a i {
                    min-width: 60PX;
                    font-size: 15PX;
                    text-align: center;
                }

h11 {
    font-size: 12px;
}

.sidebar ul li a:hover {
    color: #184698
}


/*main styling*/


.frm {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    width: 100%;
    padding: 30px;
    padding-top: 0;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
/*    width: 120%;
*/}

.icon {
    border-left: 4px solid rgba(255, 255, 255, .3);
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #aaa;
    font-size: 14px;
    margin-right: 12px;
    font-family: Nunito;
}

.subcontainer {
    background-color: #444444;
    padding: 12px 22px;
    margin: 0;
    line-height: 23px;
    display: inline-block;
    border-radius: 5px;
    font-family: Nunito;
}

.suhome {
    color: white;
    padding-right: 6px;
    font-family: Nunito;
}

    .suhome a {
        color: white;
        text-decoration: none;
    }

.chatpara {
    background-color: rgb(24 70 152 / 7%);
    color: #184698;
    width: 270px;
    height: 45px;
    padding: 10px 20px;
    border-radius: 40px;
    text-align: center
}

.withdrawalstop {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}

.withdrawalshead1 {
    padding: 20px;
    font-family: Nunito;
}

.withdrawalscontent {
    background-color: #fff;
    padding: 25px;
}

.speechdesc {
    font-family: helveticaneue;
}

    .speechdesc p {
        padding: 10px 15px;
        background-color: #e9f7fe;
        color: #3184ae;
        font-size: 14px;
        font-family: helveticaneue;
    }

h6 {
    font-family: nunito;
}



.withdrawltable {
    padding: 30px 15px;
}

    .withdrawltable table tr th {
        padding-left: 25px;
        padding-right: 35px;
    }

.affilatecard {
    background-color: #ffffff;
    font-family: nunito;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
    margin-top: 40px;
    max-width: 100%;
}

.affilateicon {
    padding: 10px 15px;
    height: auto;
}

.affilatecardcontent {
    padding: 25px;
    height: auto;
    font-size: 18px;
    color: #888888;
    line-height: 22px;
}

.affilatespace {
    margin-left: 40px;
    margin-right: 40px;
}

.affilatecontent2 {
    background-color: #ffffff;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
}

.affilatehead2 {
    border-bottom: 1px solid #eaeaea;
    font-family: nunito;
    border-radius: 4px;
}

.affilatecontent-body {
    padding: 25px;
}

.affilatecontent-body1 {
    padding-left: 45px;
    padding-right: 25px;
}

.affilatecontent-body p {
    color: #3184ae;
    background-color: #e9f7fe;
    padding: 8px 15px;
}

.affilatetextbox {
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 12px;
    width: 50%;
}
