body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
/*------------header---------------*/
.header{
    z-index:999;
}
.popup-with-zoom-anim {
    background-color: #184698;
    color: white;
    padding: 13px 18px 13px 18px;
    box-shadow: 0 4px 12px var(--theme-color-0_15);
    text-decoration: none;
    border-radius: 5px;
}
.logo {
    border-right: 2px solid #e0e0e0;
    width: 200px;
   padding: 15px 30px;
    height: 82px;
    display: inline-block;
}
.join {
    float: right;
    border-left: 1px solid #e0e0e0;
    padding: 30px;
    height: 82px;
}
.join1 {
    padding: 13.5px;
    border-radius:5px;
    background-color: #184698;
    width: 90px;
    text-decoration:none;
    color:white;
}


#langbtn {
    border: none;
    background-color: #444444;
    width: 90px;
}

    #langbtn:hover {
        background-color: #314cc6;
    }

.langcls {
    float: right;
    border-left: 1px solid #e0e0e0;
    padding: 15px 10px;
    height: 82px;
}

option {
    background-color: white;
    box-sizing: border-box;
    color: black;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #fff;
    position: sticky;
    z-index: 1;
}

/*-------------footer----------*/
.foth6 {
    padding: 0;
    padding-right: 0;
    color: azure;
    padding-left: 37PX;
}

.footer-col1 {
    padding-top: 50px;
}

.footer-col1 ul li {
    padding: 5px;
    list-style: none;
}

    .footer-col1 ul li a {
        text-decoration: none;
        color: grey;
    }
.footer-col1 ul li a:hover {
    color: white;
}

.footer-col2 {
    padding-top: 50px;
}

.footer-col2 ul li {
    padding: 5px;
    list-style: none;
}

    .footer-col2 ul li a {
        text-decoration: none;
        color: grey;
    }
.footer-col2 ul li a:hover {
    color: white;
}


.footer-col3 {
    padding-top: 50px;
}

.footer-col3 ul li {
    padding: 5px;
    list-style: none;
    text-align: left;
}

    .footer-col3 ul li a {
        text-decoration: none;
        color: grey;
    }

        .footer-col3 ul li a:hover {
            color: white;
        }

.logofoot {
    padding-top: 50px;
}

.icons {
    font-size: 20px;
}

    .icons a {
        padding-left: 15px;
    }

        .icons a i {
            color: grey;
        }

.icons a i:hover {
    color: white;
}

.copyfoot p {
}

.footerlinks {
    color: #fff;
    text-decoration: none !important;
}

.footerlinks ul {
    display: list-item;
    text-align: center;
}


.footerlinks h1 {
    font-size: 42px;
}

.footerlinks ul li {
    list-style-type: none;
}

.footerlinks:hover {
    color: #fff;
}

#footer1 {
    background: #303030;
}

img {
    padding-top: 5px;
    padding-left: 5px;
}
.iconfoot{
    text-align:center;
}



.getstrtbtn a {
    background-color: #184698;
    width: 50px;
    box-shadow: 0 4px 12px var(--theme-color-0_15);
    padding: 16px 36px;
    font-size: 15px;
}

    .getstrtbtn a:hover {
        color: white;
        text-emphasis-position: right;
        border-color: #184698;
        font-size: 15px;
        transition-duration: 0.3s;
        background-color: #184698;
        color: white;
    }

.para p {
    font-size: 20px;
    width: 60%;
    line-height: 32px;
    margin: 0 auto 1.5rem
}

body p {
    font-size: 16px;
    line-height: 27px;
}

.getstrtbtn i {
    visibility: hidden;
}

.getstrtbtn a:hover i {
    visibility: visible;
    top: 4px;
    font-size: 15px;
}
/*---------------templates-----------------*/









/*---------------member ship plan-----------------*/
.homeplan {
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
}


.goodlook1 {
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 50px;
}

.radform {
    text-align: center;
}

.radiobtn {
    padding-top: 40px;
    display: flex;
}

.radio {
    padding-bottom: 100px;
    padding-top: 50px;
    width: 100%;
}

.labl {
    background: #f6f6f6;
    border-radius: 4px;
    font-size: 18px;
    color: #888;
    text-align: center;
    line-height: 24px;
    padding: 15px;
    margin: 0px 0;
    width: 100%;
}

#input-field {
    border: none;
    background-color: #f6f6f6;
    font-weight: bold;
    text-align: center;
    color: black;
}

.plan {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 5px 3px 4px 0px rgba(0, 0,0, 0.08);
}

.plan1 {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 1px 0 3px 2px rgba(0, 0,0, 0.08);
}

    .plan1 .recommended-badge {
        background-color: #184698;
        box-sizing: border-box;
        color: #fff;
        position: absolute;
        width: 100%;
        left: 0;
        height: 45px;
        top: -45px;
        text-align: center;
        border-radius: 4px 4px 0 0;
        font-weight: 600;
        line-height: 45px;
    }

.planlist ul {
    list-style: none;
    text-align: center;
}

.planlist strong {
    list-style: none;
    text-align: center;
}

.planList u1 li {
    text-align: center;
}

.planbutton {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid;
    border-color: #184698;
    margin-bottom: 30px;
}

    .planbutton:hover {
        background-color: #184698;
        color: white;
    }

value {
    font-weight: bold;
}
/*--------------testimonial--------*/
.testimonialmain {
    background-color: #f9f9f9;
}
.testimonials {
    background-color: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonialtext {
    text-align: center;
}

    .testimonialtext h3 {
        color: black;
    }

.testimage {
    border-radius: 100px;
    margin-top: -50px;
    height: 100px;
    width: 100px;
}

.quoteout {
    font-size: 60px;
    float: left;
    margin-top: -60px;
}

.designerbtn {
    background-color: #184698;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.carousel-item {
    text-align: center;
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.carcard {
    background-color: #fff;
    box-shadow: 0px 10px 25px 10px rgb(0,0,0,0.08);
    width: 100%;
    height: 300px;
    border: none !important;
    color: #666;
}


.carousel-control-prev {
    color: white;
    background-color: #333333;
    height: 50px;
    width: 50px;
    margin: 200px 100px;
    z-index: 0;
    padding: 0px;
}

.carousel-control-next {
    color: white;
    background-color: #333333;
    height: 50px;
    width: 50px;
    margin: 200px 100px;
    z-index: 0;
    padding: 0px;
}

/*TSESTIMONIAL1*/
.maintest {
    background-color: #fff;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 40px;
}

.goodlook3 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
    padding-top: 40px;
}

.test {
    text-align: left;
    height: auto;
}

.single-testimonial {
    padding: 40px;
    background-color: #cccccc1a;
}

.single-inner {
}

.testi-author-info {
    display: flex;
}

.image {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    margin-bottom: 0px;
}

.imgtext {
    padding: 20px 20px;
}

.designation {
    color: blue;
}

.quoteup {
    color: #333333;
    font-size: 40px;
}

.quotedwn {
    color: #333333;
    font-size: 40px;
    float: right;
}

/*--------------blog-----------------*/
.blogrow {
    margin-top: 50px;
}

.blogcol {
    width: 300px;
}

span.blog-tag {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 12px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 9px;
    position: absolute;
    top: 30px;
    left: 32px;
    z-index: 110;
    transition: .4s;
}

.blog-compact {
    display: block;
    height: 400px;
    width: 300px;
    border-radius: 4px;
    background: 0 0;
    transform: translate3d(0, 0, 0);
    transition: transform .4s;
    margin-bottom: 30px;
    color: white;
}

.blog {
    background: #ccc;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    border-radius: 4px;
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    height: 400px;
    width: 300px;
    z-index: 0;
    cursor: pointer;
    transition: .4s;
}

    .blog:hover {
        transform: translate(0, -10px);
    }

.blog-post-tags {
    margin-top: 80px;
    color: white;
    list-style: none;
}

.blog::before {
    content: "";
    top: 0;
    position: absolute;
    height: 400px;
    width: 300px;
    z-index: 0;
    border-radius: 4px;
    background: linear-gradient(to top, rgba(51, 51, 51, 0.8) 0%, rgba(51, 51, 51, 0.7) 35%, rgba(51, 51, 51, 0.3) 60%, rgba(51, 51, 51, 0.3) 300px);
    transition: .4s;
}

.blog-compact-item-content {
    position: absolute;
    bottom: 32px;
    left: 0;
    padding: 0 34px;
    width: 300px;
    z-index: 50;
    box-sizing: border-box;
}

    .blog-compact-item-content h3 {
        color: white;
    }

    .blog-compact-item-content p {
        color: white;
    }

.blogimg {
    font-size: 300px;
    height: 400px;
    width: 300px;
}

/*           media             */



@media(max-width:990px) {
    .goodlook1 {
        margin: 0px;
    }
    .popup-with-zoom-anim{
       
        border:none;
        border-style:none;
        width:auto;
    }
    .header {
        display: inline-block;
        position:fixed;
        border: none;
        margin:0px;
        width: auto;
    }
    .logo{
        width:40px;
        border-right:none;
        padding:0PX;
       
    }
    .logo1{
     height:80px;
     width:100px;
    }
    .langcls {
        width: auto;
        padding-left: 5px;
        border-left: none;
    }
    .join {
        width: auto;
        padding-right:5px;
        border-left: none;
    }
    #join1 {
        width: 80px;
        border-style: none;
        border-right: none;
    }
    #langbtn {
        width:80px;
        border-style: none;
        display: inline-block;
        border-right:none;
    }
    .plan1 {
        margin-top: 50px;
        width: 100%;
    }

    .plan {
        margin-top: 50px;
        width: 100%;
    }

    .carousel-item {
        padding: 0px;
    }

    .carcard {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    .carousel-control-prev {
        margin-top: 150px;
        margin-left: 0px;
    }

    .carousel-control-next {
        margin-top: 150px;
        margin-right: 0px;
    }

    .testimage {
        margin: 0px;
        height: auto;
    }
    .blogrow{
        width:100%;
        margin:0px;
        padding:0px;

    }
   
    
}
