.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}*/
.icon{
    border-left: 4px solid rgba(255, 255, 255, .3);
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #aaa;
    font-size: 14px;
    margin-right: 12px;
}
.subcontainer{
    background-color: #444444;
    padding: 12px 22px;
    margin: 0;
    line-height: 23px;
    display: inline-block;
    border-radius: 5px;
}
.suhome{
    color: white;
    padding-right: 6px;
}
.suhome a{
    color:white;
    text-decoration:none;
}
.regbtn123{
    background-color:#184698;
}
#ContentPlaceHolder1_Button1 {
    background-color: #184698;
    color:white;
}



/*foget page*/
.forgerform1 {
    padding-bottom: 200px;
}
.forgetform {
    padding-bottom: 500px;
}
.btn #forgetbtn {
    color:blue;
}

