.sidebar {
    position: fixed;
    top: 85px;
    width: 260px;
    height: calc(100% - 85px);
    background: #fff;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px 1px rgb(0,0,0,0.4);
}

    .sidebar ul {
        margin-top: 20px;
        width: 100%;
    }

        .sidebar ul li {
            width: 100%;
            list-style: none;
            margin-left: -20px;
            margin-right: 0px;
        }

            .sidebar ul li a {
                margin-left: -20px;
                margin-right: 0px;
                width: 100%;
                text-decoration: none;
                color: grey;
                height: 40px;
                display: flex;
                align-items: center;
                font-size: 12px;
            }

                .sidebar ul li a i {
                    min-width: 60PX;
                    font-size: 15PX;
                    text-align: center;
                }

h11 {
    font-size: 12px;
}

.sidebar ul li a:hover {
    background-color: lightblue;
}

.alldocbtn {
    border-style: none;
    background-color: #fff;
    font-size: 12px;
}

.alldoc-main:hover {
    background-color: lightblue;
}
#btn1{
    cursor:pointer;
}
.alldoc {
    cursor: pointer;
}
.main {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    top: 85px;
    width: calc(100% - 200px);
    left: 200px;
    min-height: calc(100vh - 85px);
    background-color: #f5f5f5;
}

/*footer*/
.icons {
    font-size: 20px;
}

    .icons a {
        padding-left: 15px;
    }

        .icons a i {
            color: grey;
        }

            .icons a i:hover {
                color: black;
            }


@media(max-width:990px) {
    .sidebar {
        width: 0px;
    }

    .main {
        position:absolute;
        left: 0;
        width:100%;
    }
}
